* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

i {
	margin-right: 8px;
	font-size: 2rem;
}

#open {
	display: flex; 
}

input[type="radio"] {
	cursor: pointer;
}